@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About</h1>
   
</div>

<p>An online library allowing users to reserve books from an online catalogue<br />
   Please register for an account, or log in.
</p>

